@import url("https://fonts.googleapis.com/css2?family=Kantumruy:wght@300;400;700&display=swap");
.facebook {
  background-color: #3b5998;
}
.line {
  background-color: #00b900;
}
.telegrame {
  background-color: #08c;
}
.gradient {
  background: #d5a950;
}
.owl-carousel,
.owl-carousel .owl-item {
  -webkit-tap-highlight-color: transparent;
  position: relative;
}
.owl-carousel {
  display: none;
  width: 100%;
  z-index: 1;
}
.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
  touch-action: manipulation;
  -moz-backface-visibility: hidden;
}
.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
}
.owl-carousel .owl-item,
.owl-carousel .owl-wrapper {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
}
.owl-carousel .owl-item {
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-touch-callout: none;
}
.owl-carousel .owl-item img {
  display: block;
  width: 100%;
}
.owl-carousel .owl-dots.disabled,
.owl-carousel .owl-nav.disabled {
  display: none;
}
.no-js .owl-carousel,
.owl-carousel.owl-loaded {
  display: block;
}
.owl-carousel .owl-dot,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-nav .owl-prev {
  cursor: pointer;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {
  background: 0 0;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit;
}
.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}
.owl-carousel.owl-hidden {
  opacity: 0;
}
.owl-carousel.owl-refresh .owl-item {
  visibility: hidden;
}
.owl-carousel.owl-drag .owl-item {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel.owl-grab {
  cursor: move;
  cursor: grab;
}
.owl-carousel.owl-rtl {
  direction: rtl;
}
.owl-carousel.owl-rtl .owl-item {
  float: right;
}
.owl-carousel .animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}
.owl-carousel .owl-animated-in {
  z-index: 0;
}
.owl-carousel .owl-animated-out {
  z-index: 1;
}
.owl-carousel .fadeOut {
  animation-name: fadeOut;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.owl-height {
  transition: height 0.5s ease-in-out;
}
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  transition: opacity 0.4s ease;
}
.owl-carousel .owl-item .owl-lazy:not([src]),
.owl-carousel .owl-item .owl-lazy[src^=""] {
  max-height: 0;
}
.owl-carousel .owl-item img.owl-lazy {
  transform-style: preserve-3d;
}
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}
.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url(owl.video.play.png) no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: transform 0.1s ease;
}
.owl-carousel .owl-video-play-icon:hover {
  -ms-transform: scale(1.3, 1.3);
  transform: scale(1.3, 1.3);
}
.owl-carousel .owl-video-playing .owl-video-play-icon,
.owl-carousel .owl-video-playing .owl-video-tn {
  display: none;
}
.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 0.4s ease;
}
.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
}
.owl-nav {
  display: none;
}
.owl-dots {
  bottom: -30px;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}
.owl-dot {
  width: 10px;
  height: 10px;
  background: #ffffff !important;
  margin: 0 6px;
  border-radius: 10px;
  outline: none;
  transition: 0.3s linear;
}
.owl-dot.active {
  width: 20px;
  background: linear-gradient(35deg, #d5a950, #fdfcaa, #d5a950) !important;
}
.owl-dot:hover {
  width: 20px;
  background: linear-gradient(35deg, #d5a950, #fdfcaa, #d5a950) !important;
}
#header {
  background: #1a1d25;
  border-bottom: 1px solid #3b3d4e;
}
#header .top-wrapp {
  display: flex;
}
#header .top-wrapp img {
  margin: 10px;
}
#header .login-header {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
#header #logo {
  display: block;
  padding: 0;
  height: 100px;
}
@media (max-width: 768px) {
  #header #logo {
    height: 70px;
    margin: 0;
  }
}
#header #logo img {
  height: 100%;
  width: auto;
}
#header #btn-menu {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 30px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 10;
}
@media screen and (min-width: 768px) {
  #header #btn-menu {
    display: block !important;
  }
}
#header #btn-menu:focus {
  outline: none;
}
#header #btn-menu > span {
  width: 30px;
  height: 3px;
  background: linear-gradient(35deg, #d5a950, #fdfcaa, #d5a950);
  border-radius: 10px;
  transition: all 0.3s linear;
  position: relative;
  transform-origin: 1px;
}
#header #topmenu ul {
  margin: 0;
  padding: 15px 0;
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 768px) {
  #header #topmenu ul {
    justify-content: flex-start;
    padding-left: 10px;
    padding-top: 50px;
    padding-right: 63px;
    right: -53vw;
    z-index: 5;
    transition: all 0.3s linear;
    position: fixed;
    flex-direction: column;
    background: #1a1d25;
    top: 0;
    height: 100vh;
    width: 50vw;
  }
  #header #topmenu ul a {
    top: 0;
  }
}
#header #topmenu ul a {
  color: #ecf0f1 !important;
  text-decoration: none;
}
#header #topmenu ul a li {
  list-style: none;
  font-size: 15px;
  padding: 10px 30px;
  margin: 10px 0;
  border-radius: 30px;
  color: #ecf0f1;
  transition: 0.3s;
}
#header #topmenu ul a li:hover {
  box-shadow: 0px 0px 7px 0px #d5a950;
  background: linear-gradient(35deg, #d5a950, #fdfcaa, #d5a950);
  color: #1a1d25;
}
#content .slide-wrapp {
  margin-top: 20px;
  width: 100%;
  height: 300px;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  #content .slide-wrapp {
    margin: 0;
    height: 100px;
  }
}
#content .slide-wrapp .slide-image {
  width: 100%;
  height: 300px;
  background-position: center;
  background-size: cover;
}
@media (max-width: 768px) {
  #content .slide-wrapp .slide-image {
    height: 100px;
  }
}
.game a:hover {
  text-decoration: none !important;
}
.p-0 {
  padding: 0;
}
.p-5 {
  padding: 5px;
}
.m-0 {
  margin: 0;
}
.w-100 {
  width: 100%;
}
.label-h {
  background: linear-gradient(35deg, #d5a950, #fdfcaa, #d5a950);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  line-height: 1.6;
}
.zoom {
  transform: none;
  cursor: pointer;
}
.zoom:hover {
  transform: scale(1.1);
}
.button {
  text-align: center;
  font-size: 1em;
  border-radius: 30px;
  margin: 10px;
  padding: 10px 30px;
  display: block;
  cursor: pointer;
  color: #1a1d25;
  background: linear-gradient(35deg, #d5a950, #fdfcaa, #d5a950);
  transition: 0.3s;
  outline: none !important;
  border: none !important;
  box-shadow: 0px 0px 7px 0px #d5a950;
}
.input {
  font-size: 18px;
  padding: 10px;
  margin: 10px;
  border: none;
  outline: none;
  border-radius: 3px;
  min-width: 150px;
  background: #3b3d4e;
  color: #ecf0f1;
  box-sizing: border-box;
}
.input ::placeholder {
  color: #a2a2a2;
  font-family: "Kantumruy", sans-serif !important;
}
select {
  font-size: 18px;
  padding: 10px;
  margin: 10px;
  border: none;
  outline: none;
  border-radius: 3px;
  box-sizing: border-box;
  background: #3b3d4e;
  color: #ecf0f1;
}
.H1 {
  padding: 10px 0;
  margin: 0;
  font-size: 18px;
  color: #ecf0f1;
}
.H2 {
  text-transform: uppercase;
  padding: 10px 0;
  margin: 0;
  font-size: 18px;
  background: linear-gradient(35deg, #d5a950, #fdfcaa, #d5a950);
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
}
.H2::before {
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background: linear-gradient(35deg, #d5a950, #fdfcaa, #d5a950);
  content: "";
  position: absolute;
}
.H3 {
  margin-top: 20px;
  font-size: 17px;
  margin: 10px 0;
}
@media (max-width: 768px) {
  .H3 {
    cursor: pointer;
  }
}
.text {
  color: #ecf0f1;
  padding: 10px 0;
}
@media (max-width: 768px) {
  .sm-hidden {
    display: none;
  }
}
@media (min-width: 768px) {
  .d-hidden {
    display: none;
  }
}
.bg-black {
  display: none;
  top: 0;
  left: 0;
  z-index: 10;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  transition: 0.3s;
}
.mobile-btn-auth {
  margin-left: 20px;
}
.mobile-btn-auth img {
  margin-bottom: 30px;
  margin-left: 10px;
}
.game-card {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}
.game-card:hover {
  text-decoration: none !important;
}
.game-card > img {
  margin: 0;
  border-radius: 5px !important;
  background: #1a1d25;
  width: 100%;
  height: 170px;
}
@media (max-width: 768px) {
  .game-card > img {
    height: 100px;
  }
}
.game-card p {
  font-size: 16px;
  padding: 10px 0;
  color: #ecf0f1;
  text-align: center;
}
.payment {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}
.payment .wrap-bank {
  border-radius: 5px;
  background: #ecf0f1;
  display: flex;
}
.payment .wrap-bank > div {
  border-radius: 5px;
  width: 70px;
  height: 70px;
  margin: 5px;
  background-position: center;
  background-size: cover;
}
.payment .wrap-bank span {
  display: flex;
  flex-direction: column;
}
.payment .wrap-bank span p {
  margin: 0 10px;
  margin-top: 5px;
}
.c-wrapp {
  color: #ecf0f1;
  background: #1a1d25;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.c-wrapp > p {
  margin: 0;
  line-height: 1.7;
}
@media (max-width: 768px) {
  .c-wrapp {
    display: none;
  }
}
.wrapper-footer .phone {
  width: auto;
  margin: 10px 0;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  flex-direction: row;
}
.wrapper-footer .phone div {
  width: 30px;
  height: 30px;
  overflow: hidden;
  border-radius: 5px;
}
.wrapper-footer .phone div img {
  width: 100%;
  height: auto;
}
.wrapper-footer .phone p {
  margin: 0 20px;
}
.wrapper-footer .fbook {
  padding: 10px;
  margin-top: 20px;
}
.wrapper-footer .fbook i {
  padding: 10px;
}
.wrapper-footer .fbook:hover {
  color: #ffffff !important;
  text-decoration: none;
}
.bottom-copy {
  background: linear-gradient(35deg, #d5a950, #fdfcaa, #d5a950);
  text-align: center;
  padding: 10px;
}
.k-modal {
  border-radius: 10px;
  padding: 20px;
  background: #1a1d25;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.k-modal .m-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.k-modal .m-header h2 {
  color: #ecf0f1;
  padding: 0;
}
.k-modal .m-header span {
  cursor: pointer;
  width: 50px;
  height: 50px;
  margin-top: 10px;
  padding: 10px;
  background: #3b3d4e;
  border-radius: 5px;
  position: relative;
}
.k-modal .m-header span .fa {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: #fff;
}
body {
  margin: 0;
  font-family: "Kantumruy", sans-serif;
  background-color: #1a1d25;
  padding: 0;
  line-height: 1.6;
  position: relative;
  overflow-x: hidden;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: #fff;
}
div {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}
input {
  box-sizing: border-box;
}
#contact {
  transform: translate(0, -50%);
  position: fixed;
  top: 50vh;
  right: 0;
  z-index: 5;
}
@media (max-width: 768px) {
  #contact {
    display: none;
  }
}
#contact div {
  list-style: none;
}
#contact a {
  transition: all 0.5s 0.3s ease;
  height: 50px;
  text-decoration: none;
  transform: translate(180px, -50%);
  display: flex;
  width: 230px;
  margin: 10px 0;
  cursor: pointer;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
#contact a .fa {
  font-size: 20px;
  color: #fff;
  width: 50px;
  height: 15px;
  padding: 17px;
}
#contact a svg {
  font-size: 20px;
  color: #fff;
  margin-top: 15px;
  width: 50px;
  height: 20px;
}
.slider {
  content: "";
  width: 180px;
  height: 50px;
  border-radius: 3px;
  z-index: 2;
}
.slider p {
  font-size: 16px;
  font-weight: 900;
  color: #fff;
  text-align: center;
  line-height: 50px;
  transition: all 0.6s ease;
}
