// Header
#header {
  background: $black;
  border-bottom: 1px solid $gray;
  .top-wrapp {
    display: flex;
    img {
      margin: 10px;
    }
  }
  .login-header {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }
  #logo {
    display: block;
    padding: 0;
    height: 100px;
    @media (max-width: $sm) {
      height: 70px;
      margin: 0;
    }
    img {
      height: 100%;
      width: auto;
    }
  }

  #btn-menu {
    @media screen and (min-width: $sm) {
      display: block !important;
      
    }
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 30px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 10;

    &:focus {
      outline: none;
    }

    > span {
      width: 30px;
      height: 3px;
      background: $gradient;
      border-radius: 10px;
      transition: all 0.3s linear;
      position: relative;
      transform-origin: 1px;
    }
  }

  #topmenu {
    ul {
      margin: 0;
      padding: 15px 0;
      display: flex;
      justify-content: flex-end;
      @media  (max-width: $sm) {
        justify-content:flex-start;
        padding-left:10px;
        padding-top:50px;
        padding-right: 63px;
        right:-53vw;
        z-index:5;
        transition: all 0.3s linear;
        // transform: ${({ open }) => open ? 'translateX(-100%)' : 'translateX(0)'};
        position:fixed;
        flex-direction:column;
        background:$black;
        top:0;
        height:100vh;
        width:50vw;
        a{
           top:0;
        }
      }
      a {
        color: $white !important;
        text-decoration: none;
        li {
          list-style: none;
          font-size: 15px;
          padding: 10px 30px;
          margin: 10px 0;
          border-radius: 30px;
          color: $white;
          transition: 0.3s;
          &:hover {
            box-shadow: 0px 0px 7px 0px $primary;
            background: $gradient;
            color: $black;
          }
        }
      }
    }
  }
}
